<h1 class="title is-4">Work Day Opportunities</h1>

<div class="columns is-multiline">
  <% @opportunities.each do |opportunity| %>
    <div class="column is-6">
      <%= render opportunity %>
    </div>
  <% end %>
</div>

<br>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'New Opportunity', new_opportunity_path, class: 'button is-dark is-outlined' %>
<% end %>
