.notification {
  opacity: 1;
  transition: all 0.7s cubic-bezier(0.335, 0.010, 0.030, 1.360);
  height: 64px;
  width: 100%;
  visibility: visible;
}

.notification.fade {
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    margin: 0;
    height: 0;
}
